<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Auth</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="public/css/auth.css">
</head>
<body>
  <div class="main">
    <h1>Kicsis Étterem</h1>
  </div>
  
  <form action="/auth" method="POST">
    <img src="public/img/logo.png">
    <div>
      <label for="username">Felhasználónév</label>
      <input type="username" id="username" name="username" placeholder="Írja be a felhasználó nevét" required>
    </div>
    <div>
      <label for="password">Jelszó</label>
      <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Bejelentkezés</button>
  </form>
</body>
</html>