<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body class="bg-gray-800">
    <div id="header"></div>
    <div id="navbar"></div>
    <div class="content-container">
        <div class="h1-text">ASystems</div>
        <div class="h2-text">RestaurantApp</div>
        <div class="index-welcome-container">Üdvözöljük!</div>
    </div>



    <script src="ws-states.js"></script>
    <script type="module" src="/public/js/pages/homepage.js"></script>
</body>
</html>