<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pay</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body class="bg-gray-800">
    <div id="header"></div>
    <div id="navbar"></div>
    <div class="content-container">
        <div class="h1-text">Fizetés</div >
    
            <div class="next-to-container">
                <div class="pay-table-container">
                    <div class="h2-text">Asztal választás</div>
                    <div class="selected-table">Kiválasztva: <span id="selectedTableSpan"></span></div>
                    <div class="selected-table">Végösszeg: <span id="totalAmountSpan">0</span> Ft</div>
                    <button type="button" id="payButton" class="tsf-button mt-5">Fizetés</button>
                    <div id="allTableDiv" class="table-container"></div>
                    
                    
                </div>

                <div class="pay-order-container">
                    <div class="h2-text">Tételek</div>
                    <div id="tableProductsDiv"></div>
                </div>
            </div>
        </div>


        
        

    </div>
    

    <script src="ws-states.js"></script>
    <script type="module" src="/public/js/pages/pay.js"></script>
</body>
</html>